h1 {
  letter-spacing: 5px;
  color: aqua;
}
h4 {
  letter-spacing: 4px;
  font-style: italic;
  font-family: sans-serif;
}
#myImage {
  width: 200px;
}
#aboutme {
  text-align: center;
}
body {
  /* background-image: url("https://photo.isu.pub/cihangir.research/photo_large.jpg"); */
  /* background-repeat: no-repeat; */
  background-size: cover;
}
