#email {
  font-size: 15px;
  color: blueviolet;
}

body {
  background-image: linear-gradient(rgb(34, 151, 206), yellow, green);
}
h1 {
  color: blueviolet;
}
#mainimg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
